/*Mobile & Tablet CSS*/
@media screen and (max-width:550px){ /*Mobile CSS*/
    .overlay-left, .overlay-right{
        display:none;
    }

    .mobile-overlay{
        display:block;
    }

    .title{
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }

    .sub-title{
        left:0;
    }

    .header{
        font-size:4rem;
        padding-top:1rem;
    }

    .box p{
        text-align:center;
        text-indent:0;
    }

    .box1 .msg-box{
        margin:4rem auto 0;
    }

    .top-nav{
        flex-direction:column;
        text-align:center;
    }
    
    .nav-hamburger i{
        position:relative;
        left:2.5rem;
    }

    .bootup-msg{
        width:100%;
        top:20vh;
    }

    .what-container{
        flex-direction:column;
        width:100%;
        margin:0 auto 5rem;
    }

    .what-box{
        margin:0 auto 1.5rem;
        width:80%;
    }

    .what-box-a{
        transform:rotateZ(-2deg);
    }
    
    .what-box-b{
        transform:rotateZ(2deg);
    }

    .footer{
        background:#e44661;
        box-shadow: none;
    }

    .l-col-a{
        transform:rotateZ(1deg);
    }

    .l-col-b{
        transform:rotateZ(-1deg);
    }
}

@media screen and (min-width:550px){ /*Tablet CSS*/
    .overlay-left, .overlay-right{
        display:flex;
    }

    .mobile-overlay{
        display:none;
    }

    .header{
        font-size:5rem;
        padding-top:1.5rem;
    }
}

@media screen and (min-width:900px){
    .header{
        font-size:9rem;
        padding-top:2rem;
    }
}

@media screen and (min-width:1000px){
    .nav-hamburger{
        display:none;
    }
}

@media screen and (max-width:1000px){
    .title-head{
        font-size:2.75rem;
    }

    .sub-title{
        font-size:2.25rem;
        bottom:0.25rem;
    }

    .nav-hamburger{
        display:flex;
    }
    
    .navigation a{
        display:none;
    }

    .bootup-msg{
        width:70%;
    }
}

@media screen and (min-width:550px) and (max-width:900px){
    .what-container{
        flex-direction:row;
        flex-wrap: wrap;
    }

    .what-box{
        margin-bottom:1rem;
        width:45%;}

    .l-col-a{
        position:relative;
        right:2rem;
    }
    
    .l-col-b{
        position:relative;
        left:2rem;
    }
}

@media screen and (max-width:900px){
    .overlay-piece-hor:hover{
        width:3.5rem;
        font-size:2.5rem;
    }

    .header{
        box-shadow:inset 0 0 1rem #000;
    }

    .box1 .msg-box{
        margin:5rem auto 0;
    }

    .what-box{
        line-height:1;
    }

    .what-box-a{
        transform:rotateZ(0);
    }
    
    .what-box-b{
        transform:rotateZ(0);
    }

    .links-row{
        flex-direction:column;
    }
}

@media screen and (max-width:1200px){
    .what-box i{
        font-size:2.75rem;
    }

    .what-box h3{
        font-size:1.5rem;
    }

    .what-box span{
        font-size:1.25rem;
        line-height:0.5;
    }
}