/*General CSS*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

::-webkit-scrollbar{
    display:none;
}

ul{
    list-style: none;
}

*::selection{
    background:#eee;
    color:#111;
}

/*Alert CSS*/
.bootup{
    font-family:'Josefin Sans',sans-serif;
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    opacity:100;
    transition:all 0.5s cubic-bezier(0,0,.3,1);
    justify-content:center;
    height:100vh;
    width:100vw;
    background:#000000D0;
}

.bootup-msg{
    color:#fff;
    text-align:center;
    font-size:2rem;
    position:relative;
    top:40vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#b1364b;
    width:50%;
    height:15%;
    padding:2rem;
}

.bootup-msg span{
    margin-bottom:2rem;
}

.bootup-btn{
    border:none;
    background-color:#643d44;
    color:#fef3f5;
    font-size:3rem;
    padding-top:0.375rem;
    font-family:'Josefin Sans',sans-serif;
    transition:all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
    letter-spacing: normal;
}

.bootup-btn:hover{
    background-color:#111;
    border-radius:10px;
    letter-spacing:-2px;
}

/*Basic Desktop CSS*/
body{
    background:#faf3ed;
    margin:0; padding:0;
    overflow:hidden;
}

.overlay{
    z-index:1;
    position:absolute;
}

.overlay-piece-hor{
    background:#ffffff1a;
    transition:all 0.25s cubic-bezier(0,0,.15,1);
    height:100vh;
    position:fixed;
    width:3rem;
    color:#fff;
    font-size:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-piece-hor:hover{
    background:#fff;
    width:5rem;
    font-size:3rem;
    color:black;
    transition:all 0.5s cubic-bezier(0,0,.15,1);
}

.mobile-overlay{
    position:fixed;
    bottom:0;
}

.overlay-piece-ver{
    background:#ffffff1a;
    transition:all 0.25s cubic-bezier(0,0,.15,1);
    height:3rem;
    width:100vw;
    color:#fff;
    font-size:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-piece-ver:hover{
    background:#fff;
    font-size:2.25rem;
    color:black;
    transition:all 0.55s cubic-bezier(0,0,.15,1);
}

.overlay-left{
    left:0;
}

.overlay-right{
    right:0;
}

.overlay-down{
    border-top:#ffffff40 1px solid;
    bottom:0;
}

.outer-container{
    overflow: hidden;
}

.main-container{
    z-index:0;
    position:absolute;
    top:0;
    left:0;
    transition:1s cubic-bezier(.32,0,.46,1);
}


.hor-spread{
    width:100vw;
    height:20rem;
    background:url('https://media1.fdncms.com/eastbayexpress/imager/by-ernest-doty/u/original/4252071/img_20150413_160945.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    box-shadow: inset 0 0 5rem #000;
    animation:none;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.box{
    width:100vw;
    height:100vh;
    overflow-y:auto;
    font-family:'Josefin Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2.5rem;
    font-weight:300;
}

.box p{
    padding:0.75rem 3.75rem;
    text-indent:5rem;
}

.box p:first-child{
    padding-top:2rem;
}

.box1{
    background:#e44661;
    color:#fff;
}

.box2{
    background:#ffa544;
    position:absolute;
    left:100vw;
    top:0vh;
}

.box3{
    background:#b4bd3e;
    position:absolute;
    left:100vw;
    top:100vh;
}

.box4{
    background: #2b594f;
    color:#f7fefc;
    position:absolute;
    left:100vw;
    top:200vh;
}

.box5{
    background: #002d40;
    color:#f7fdff;
    position:absolute;
    left:200vw;
    top:200vh;
}

.box1, .box2, .box3, .box4, .box5{
    transition:background-color 0.2s ease-in;
}

.top-nav{
    display:flex;
    justify-content: space-between;
}

.title{
    font-weight:300;
    margin-left:10%;
    margin-top:2rem;
}

.title-head{
    font-size:3.25rem;
}

.sub-title{
    font-size:2.5rem;
    position:relative;
    bottom:0.75rem;
    left:2rem;
}

.header{
    font-weight:700;
    position:relative;
    top:2rem;
    padding-top:2rem;
    text-align:center;
    box-shadow: inset 0 0 2rem #00000080;
    letter-spacing: -0.1rem;
}

.box1-header{
    background-color:#00000020;
    background-size:cover;
    max-height:35rem;
}

.box1 .msg-box{
    background:#643d44;
    box-shadow:2px 3px 8px #20202080;
    color:#fef3f5;
    margin-top:4rem;
    margin-left:6rem;
    max-width:20rem;
    padding:2rem 0;
    transform: rotateZ(-3deg);
    display:flex;
    justify-content: center;
}

/*Mobile & Tablet CSS*/
@media screen and (max-width:550px){ /*Mobile CSS*/
    .overlay-left, .overlay-right{
        display:none;
    }

    .mobile-overlay{
        display: block;
    }

    .title{
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }

    .sub-title{
        left:0;
    }

    .header{
        font-size:4rem;
    }

    .box p{
        text-align:center;
        text-indent:0;
    }

    .box1 .msg-box{
        margin:4rem auto 0;
    }
}

@media screen and (min-width:550px){ /*Tablet CSS*/
    .overlay-left, .overlay-right{
        display:flex;
    }

    .mobile-overlay{
        display:none;
    }

    .header{
        font-size:5rem;
    }
}

@media screen and (min-width:900px){
    .header{
        font-size:9rem;
    }
}

@media screen and (max-width:900px){
    .overlay-piece-hor:hover{
        width:3.5rem;
        font-size:2.5rem;
    }

    .header{
        box-shadow: inset 0 0 1rem #000;
    }
}