<div class="box box4">
    <div class="top-nav">
        <div class="title">
            <div class="title-head">michael a rubino</div>
            <div class="sub-title">web developer</div>
        </div>
        <div class="navigation">
            <div class="nav-hamburger">
                <i class="fas fa-bars"></i>
            </div>
            <a class="nav-a-white welcome">welcome</a>
            <a class="nav-a-white work">work</a>
            <a class="nav-a-white resume">resume</a>
            <a class="nav-a-white about">about</a>
            <a class="nav-a-white links">links</a>
        </div>
    </div>
    <div class="header">ABOUT</div>
    <div class="msg-box">So Who Is Michael Rubino?</div>
    <p>That is the million dollar question, isn't it? I'm a <span id="aboutAge"></span> year old fellow from the town of Freeport, New York out on Long Island. Over the years I've jumped around to other places like Boston, Scottsdale, and Decatur, finally setting up shop in good old Atlanta.</p>
    <p>I definitely consider myself a bit of a ham. I always enjoy getting people to laugh and enjoy themselves when I can. People say I'm a caring and amiable person too. Ultimately I just want to help make the world a little better if I can, and web development is yet another avenue for me to do just that.</p>
    <div class="hor-spread box4-spread"></div>
    <div class="msg-box">How I Got Started</div>
    <p>As a kid I was always fascinated with visual sensations. I would spend my time scouring over art books, websites, comic books, TV shows, and video games. I wanted to share what I loved about these visual sensations with as many people as I could. As such, art seemed like the best avenue for that.</p>
    <p>I grew up playing with my mother's copy of Dreamweaver as a little kid (back when it was still a Macromedia product), and that sparked my initial interest in web development. I started off with an introductory class in web design at Boston University, but it would take a few years of doing visual development/graphic design work before I tried to truly dip my feet into the web development waters. At one point I took an online course through Rutger's University, and eventually made my way over to DigitalCrafts' Full-Stack program in the fall of 2018.</p>
    <p>I've learned a tremendous amount about the world wide web and its many technologies over the year, and my only desire is to be able to continue learning and growing throughout my career.</p>
    <div class="footer">
        <span class="copyright"></span>
    </div>
</div>