<div class="box box5">
    <div class="top-nav">
        <div class="title">
            <div class="title-head">michael a rubino</div>
            <div class="sub-title">web developer</div>
        </div>
        <div class="navigation">
            <div class="nav-hamburger">
                <i class="fas fa-bars"></i>
            </div>
            <a class="nav-a-white welcome">welcome</a>
            <a class="nav-a-white work">work</a>
            <a class="nav-a-white resume">resume</a>
            <a class="nav-a-white about">about</a>
            <a class="nav-a-white links">links</a>
        </div>
    </div>
    <div class="header">LINKS</div>
    <div class="links-container">
        <div class="links-row">
            <div class="links-col l-col-a">
                <a href="https://github.com/rubinoAM"><img src="/images/links.png"/></a>
                <h3>GITHUB</h3>
            </div>
            <div class="links-col l-col-b">
                <a href="https://www.linkedin.com/in/michael-rubino-developer"><img src="/images/links_2.png"/></a>
                <h3>LINKEDIN</h3>
            </div>
            <div class="links-col l-col-a">
                <a href="https://www.behance.net/rubinoamic489f"><img src="/images/links_3.png"/></a>
                <h3>BEHANCE</h3>
            </div>
        </div>
    </div>
    <p>It is rather amazing how interconnected we truly are thanks to the internet. It's almost dizzying how many websites are out there specifically for the purpose of networking and the like.</p>
    <p>As is necessary to network in this day and age, I have my own profiles and pages on several sites across the internet. Here are the ones most pertinent to me and my career as I see it for you to peruse.</p>
    <p>Feel free to reach out to me on any of these websites. I always enjoy meeting and speaking with new people. Thank you!</p>
    <div class="footer">
        <span class="copyright"></span>
    </div>
</div>