<div class="overlay">
    <div class="overlay-piece-hor overlay-left" id="go-left">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="overlay-piece-hor overlay-right" id="go-right">
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="mobile-overlay">
        <div class="overlay-piece-ver overlay-up" id="go-up">
            <i class="fas fa-arrow-up"></i>
        </div>
        <div class="overlay-piece-ver overlay-down" id="go-down">
            <i class="fas fa-arrow-down"></i>
        </div>
    </div>
</div>