<div class="box box3">
    <div class="top-nav">
        <div class="title">
            <div class="title-head">michael a rubino</div>
            <div class="sub-title">web developer</div>
        </div>
        <div class="navigation">
            <div class="nav-hamburger">
                <i class="fas fa-bars"></i>
            </div>
            <a class="nav-a-black welcome">welcome</a>
            <a class="nav-a-black work">work</a>
            <a class="nav-a-black resume">resume</a>
            <a class="nav-a-black about">about</a>
            <a class="nav-a-black links">links</a>
        </div>
    </div>
    <div class="header">RESUME</div>
    <div class="resume-container">
        <div class="resume-row r-row-1">
            <div class="resume-col r-col-short">
                <img class="resume-pic" src="/images/profile.jpg"/>
                <span class="resume-name">michael rubino</span>
                <span class="resume-location">atlanta, ga</span>
                <a href="MRubinoResume_2019.pdf" class="resume-pdf" download><i class="fas fa-file-pdf"></i></a>
            </div>
            <div class="resume-col r-col-wide">
                <div class="msg-box r1-msg-box">SOFT SKILLS</div>
                <ul class="soft-skills">
                    <li>Works well collaboratively and independently</li>
                    <li>Very critical and analytical in creative thinking and problem solving</li>
                    <li>Able to learn new technologies, languages and workflows quickly</li>
                    <li>Very thorough in debugging process</li>
                    <li class="soft-toggle">Strong sense of layout, typography, and design informed by prior experience in graphic design</li>
                    <li class="soft-toggle">Works expediently without sacrificing attention to detail</li>
                    <li class="soft-toggle">Good at handling relationships with clients</li>
                </ul>
            </div>
        </div>
        <div class="resume-row r-row-2">
            <div class="resume-col">
                <div class="msg-box r2-msg-box-1">DEVELOPMENT TOOLS</div>
                <ul class="dev-skills">
                    <li>HTML/CSS/JavaScript</li>
                    <li>Bootstrap/Flexbox</li>
                    <li>jQuery</li>
                    <li>Python</li>
                    <li>MySQL</li>
                    <li>Node</li>
                    <li>Express</li>
                    <li>React</li>
                    <li>Git</li>
                    <li>Angular</li>
                    <li>Django</li>
                </ul>
            </div>
            <div class="resume-col">
                <div class="msg-box r2-msg-box-2">SOFTWARE</div>
                <ul class="soft-ware">
                    <li>Visual Studio Code</li>
                    <li>Linux</li>
                    <li>Amazon Web Services (AWS)</li>
                    <li>Adobe Creative Suite</li>
                    <li>Microsoft Office Suite</li>
                    <li>Proficient with Mac & PC</li>
                </ul>
            </div>
        </div>
        <div class="resume-row r-row-3">
            <div class="resume-col">
                <div class="msg-box r3-msg-box">EDUCATION</div>
                <div class="education-entry">
                    <h3>Certificate in Software Engineering</h3>
                    <h4>DigitalCrafts (Buckhead, GA)</h4>
                    <span>Nov. 2018- Mar. 2019</span>
                </div>
                <div class="education-entry">
                    <h3>Certificate in Mobile and Desktop Web Development Certificate</h3>
                    <h4>Rutger's University (New Brunswick, NJ)</h4>
                    <span>Sep. 2014- Jul. 2015</span>
                </div>
                <div class="education-entry">
                    <h3>Bachelors of Arts in Media Arts & Animation</h3>
                    <h4>The Art Institute of Phoenix (Phoenix, AZ)</h4>
                    <span>Jul. 2010- Jun. 2013</span>
                </div>
            </div>
        </div>
        <div class="resume-row r-row-4">
            <div class="resume-col">
                <div class="msg-box r4-msg-box">EMPLOYMENT</div>
                <div class="employment-entry">
                    <h3>Graphic Designer/Pre-Press</h3>
                    <h4>Print Solutions (Norcross, GA)</h4>
                    <span>Jul. 2018- Sep. 2018</span>
                </div>
                <div class="employment-entry">
                    <h3>Lead Graphic Designer</h3>
                    <h4>The Print Shop Cave Creek (Cave Creek, AZ)</h4>
                    <span>Jan. 2016- Jun. 2018</span>
                </div>
                <div class="employment-entry">
                    <h3>Graphic Designer</h3>
                    <h4>We Do Men- The Man Spa (Scottsdale, AZ)</h4>
                    <span>Mar. 2015- Mar. 2016</span>
                </div>
                <div class="employment-entry">
                    <h3>Game Design Teacher</h3>
                    <h4>Freshi Media (Phoenix, AZ)</h4>
                    <span>Jan. 2015- Oct. 2015</span>
                </div>
                <div class="employment-entry">
                    <h3>Lead Artist</h3>
                    <h4>Bloodleaf Studios (Surprise, AZ)</h4>
                    <span>Jun. 2013- Jul. 2014</span>
                </div>
                <div class="employment-entry">
                    <h3>Asset Artist</h3>
                    <h4>Jacob's Ladder Entertainment (Tempe, AZ)</h4>
                    <span>Dec. 2012- Jun. 2013</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <span class="copyright"></span>
    </div>
</div>