<div class="box box1">
    <div class="top-nav">
        <div class="title">
            <div class="title-head">michael a rubino</div>
            <div class="sub-title">web developer</div>
        </div>
        <div class="navigation">
            <div class="nav-hamburger">
                <i class="fas fa-bars"></i>
            </div>
            <a class="nav-a-white welcome">welcome</a>
            <a class="nav-a-white work">work</a>
            <a class="nav-a-white resume">resume</a>
            <a class="nav-a-white about">about</a>
            <a class="nav-a-white links">links</a>
        </div>
    </div>
    <div class="header">WELCOME</div>
    <div class="msg-box">Well howdy there!</div>
    <p>My name is Michael Anthony Francis Rubino. Mike or Michael works just as well if you prefer. I've worn a number of different hats throughout my career, including graphic designer, video game artist, teacher, etc. Nowadays I wear the hat of a full-stack web developer.</p>
    <p>While web development has become my main focus in life, there are still a number of things I love doing as hobbies for the saking of bettering myself. Chief among those hobbies are my creative interests such as digital painting, illustration, and writing. I've always had a creative spark inside of me, and I try to channel that creativity in whatever adventures I decide to set off on.</p>
    <div class="hor-spread box1-spread"></div>
    <div class="header"><span>WHAT CAN I DO?</span></div>
    <div class="what-container">
        <div class="what-box what-box-a">
            <i class="fas fa-code"></i>
            <div class="what-text">
                <h3>WEB DEVELOPMENT</h3>
                <span>I'm highly skilled with in HTML5, CSS3, Javascript, JQuery, MySQL, Node, Express, React, Redux, AJAX, as well as Git and Github.</span>
            </div>
        </div>
        <div class="what-box what-box-b">
            <i class="fas fa-desktop"></i>
            <div class="what-text">
                <h3>WEB DESIGN</h3>
                <span>With my designs I tend to focus on stylish aesthetic working in tandem with a strong consideration for the user's perspective.</span>
            </div>
        </div>
        <div class="what-box what-box-b">
            <i class="fas fa-mobile-alt"></i>
            <div class="what-text">
                <h3>RESPONSIVE DESIGN</h3>
                <span>Given how much time spent browsing the web is spent on mobile devices, I've built up a tremendous toolkit for myself when it comes to responsive design.</span>
            </div>
        </div>
        <div class="what-box what-box-a">
            <i class="fas fa-pencil-alt"></i>
            <div class="what-text">
                <h3>GRAPHIC DESIGN</h3>
                <span>I have over 6 years of experience working in the graphic design industry, and those design sensibilites influence my sensibilites for web design.</span>
            </div>
        </div>
    </div>
    <div class="footer">
        <span class="copyright"></span>
    </div>
</div>