<div class="box box2">
    <div class="top-nav">
        <div class="title">
            <div class="title-head">michael a rubino</div>
            <div class="sub-title">web developer</div>
        </div>
        <div class="navigation">
            <div class="nav-hamburger">
                <i class="fas fa-bars"></i>
            </div>
            <a class="nav-a-black welcome">welcome</a>
            <a class="nav-a-black work">work</a>
            <a class="nav-a-black resume">resume</a>
            <a class="nav-a-black about">about</a>
            <a class="nav-a-black links">links</a>
        </div>
    </div>
    <div class="header">WORK</div><div class="projects-container">
        <div class="project-row">
            <div class="project-col p-col-a">
                <a class="demo-link" href="https://stickyfingers.michaelarubino.com" target="blank"><img src="/images/stickyfingers.png"/></a>
                <h3>Tic-Tac-Toe</h3>
                <a class="git-link" href="https://github.com/rubinoAM/Sticky-Fingers" target="blank">GitHub Repo</a>
                <span class="p-tech">Made with HTML/CSS, JavaScript, Node/Express, React/Redux, and MySQL</span>
            </div>
            <div class="project-col p-col-b">
                <a class="demo-link" href="http://dietactics.michaelarubino.com/" target="blank"><img src="/images/dietactics.png"/></a>
                <h3>DIETactics</h3>
                <a class="git-link" href="https://github.com/rubinoAM/DIETactics" target="blank">GitHub Repo</a>
                <span class="p-tech">Made with HTML/CSS, JavaScript/JQuery, MySQL, and Node/Express</span>
            </div>
            <div class="project-col p-col-a">
                <a class="demo-link" href="https://michaelarubino.com/mealsleuth" target="blank"><img src="/images/mealsleuth.png"/></a>
                <h3>MealSleuth</h3>
                <a class="git-link" href="https://github.com/rubinoAM/MealSleuth" target="blank">GitHub Repo</a>
                <span class="p-tech">Made with HTML/CSS and JavaScript/JQuery</span>
            </div>
        </div>
    </div>
    <p>Here are a few of the web development projects that I have worked on most recently. All of them have been fun learning experiences for me, and I'm always excited for whatever next project comes my way.</p>
    <div class="footer">
        <span class="copyright"></span>
    </div>
</div>