<div class="box box2">
    <div class="top-nav">
        <div class="title">
            <div class="title-head">michael a rubino</div>
            <div class="sub-title">web developer</div>
        </div>
        <div class="navigation">
            <div class="nav-hamburger">
                <i class="fas fa-bars"></i>
            </div>
            <a class="nav-a-black welcome">welcome</a>
            <a class="nav-a-black work">work</a>
            <a class="nav-a-black resume">resume</a>
            <a class="nav-a-black about">about</a>
            <a class="nav-a-black links">links</a>
        </div>
    </div>
    <div class="header">WORK</div>
    <p>Spicy jalapeno pastrami tail venison tri-tip tenderloin turducken andouille burgdoggen chicken cow meatloaf strip steak chuck. Shoulder picanha pork loin t-bone kielbasa. Swine corned beef shoulder tri-tip turducken shank shankle chuck brisket leberkas pork loin. Ball tip pastrami andouille sirloin jerky hamburger picanha tail. Beef pork loin venison, tongue bresaola rump alcatra. Bacon tail boudin ball tip sausage turkey, alcatra kevin frankfurter turducken short loin cupim. Alcatra t-bone landjaeger, porchetta corned beef ham hock tenderloin pork sirloin chuck pancetta shankle pork loin kevin.</p>
    <p>Swine shoulder porchetta kielbasa meatball fatback. Rump pork chop landjaeger, tri-tip swine kielbasa flank pork pancetta. Beef spare ribs ground round biltong, tail corned beef bresaola landjaeger pork chop alcatra chicken frankfurter. Andouille short ribs beef ribs shankle tenderloin buffalo jowl turducken hamburger corned beef prosciutto landjaeger capicola meatloaf. Pork chop chicken biltong t-bone, sausage pancetta tenderloin shoulder ham hock porchetta venison sirloin jowl pastrami kielbasa. Beef ribs ground round sausage, ham hock chicken kevin spare ribs filet mignon cupim tail rump turducken. Brisket pancetta pig jerky venison pastrami tongue beef ribs short ribs drumstick biltong bacon strip steak frankfurter.</p>
    <p>Prosciutto shankle biltong tri-tip, burgdoggen flank andouille salami jowl landjaeger tenderloin bresaola corned beef shank. Kevin beef ribeye, doner pork loin salami pancetta corned beef sirloin pig. Ham hock brisket shank pork loin spare ribs burgdoggen tri-tip, tail strip steak andouille porchetta flank ham. Doner ham hock drumstick bresaola short loin pig. Leberkas ribeye pancetta ground round filet mignon jerky andouille brisket fatback spare ribs bresaola. Shoulder chicken turkey, porchetta prosciutto tenderloin swine pig.</p>
    <p>Tri-tip ribeye t-bone tongue rump pastrami. Burgdoggen beef meatball tongue pork belly pork chop ribeye sausage. Ham t-bone turkey chicken, cupim filet mignon drumstick landjaeger rump bacon tail chuck shoulder leberkas flank. Chicken tail flank burgdoggen jowl short loin buffalo. Jowl shank short ribs frankfurter rump pork ham hock chicken pork loin strip steak ham burgdoggen pancetta jerky. Capicola tongue bresaola rump ham hock andouille.</p>
    <p>Jowl leberkas porchetta alcatra cow biltong, sirloin boudin hamburger rump t-bone ribeye swine cupim. Chuck venison swine spare ribs salami t-bone picanha jowl landjaeger jerky. Chuck pig jerky strip steak bresaola porchetta pork chop sausage meatball. Venison ball tip burgdoggen pork loin ham hock beef ribs porchetta brisket shankle shoulder prosciutto tongue.</p>    
    <div class="footer">
        <span class="copyright"></span>
    </div>
</div>