@media screen and (max-width:550px){
    html{
        overflow:hidden;
    }

    .box3{
        position:absolute;
        left:200vw;
        top:0;
    }
    
    .box4{
        position:absolute;
        left:300vw;
        top:0;
    }
    
    .box5{
        position:absolute;
        left:400vw;
        top:0;
    }    

    .overlay-piece-hor:hover{
        background:rgba(255, 255, 255, 0.102);
        width:3rem;
        font-size:2rem;
        color:#fff;
        transition:none;
    }
}