@media screen and (max-width:550px){
    .box2{
        display:none;
        position:absolute;
        left:0;
        top:0;
    }

    .box3{
        display:none;
        position:absolute;
        left:0;
        top:0;
    }
    
    .box4{
        display:none;
        position:absolute;
        left:0;
        top:0;
    }
    
    .box5{
        display:none;
        position:absolute;
        left:0;
        top:0;
    }    

    .transition-box{
        display:none;
    }

    .overlay-piece-hor:hover{
        background:rgba(255, 255, 255, 0.102);
        width:3rem;
        font-size:2rem;
        color:#fff;
        transition:none;
    }
}